#user-avatar {
    transition: all .1s; 
}

#user-avatar:hover {
    transform: scale(1.1);
}

.profile-name-link {
    text-decoration: none;
}

#profile:hover {
    color: #f0bb29;
}

.strike-through {
    text-decoration: line-through;
}

#timer {
    margin-top: 0;
}

#order-display {
    margin-top: 0;
}

#results-button, #try-again, #start-play {
    width: 200px
}

#try-again {
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    z-index: 2;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    transform-origin: bottom;
    
}

.win-game-bounce {
    animation-name: win-game-bounce;
    animation-timing-function: ease;
}

/* https://css-tricks.com/making-css-animations-feel-natural/ */
@keyframes win-game-bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-60px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.overlay-background {
    background-color: rgba(255, 255, 255, 0.584);
}

.instructions {
    text-align: left;
    margin-bottom: 12px; 
}

ol {
    width: 95%;
    margin-top: 0;
}