#user-avatar {
    transition: all .1s; 
}

#user-avatar:hover {
    transform: scale(1.1);
}

.profile-name-link {
    text-decoration: none;
}

#profile:hover {
    color: #f0bb29;
}

.strike-through {
    text-decoration: line-through;
}

#timer {
    margin-top: 0;
}

#order-display {
    margin-top: 0;
}

#results-button, #try-again, #start-play {
    width: 200px
}

#overlay {
    position: fixed;
    z-index: 2;
    padding: 20px;
    width: 400px;
    height: 300px;
}

.overlay-background {
    background-color: rgba(255, 255, 255, 0.584);
}