.study-drink {
    width: 30%;
}

.hidden {
    display: none;
}

.all-drinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 600px;
}

.each-drink {
    width: 30%;
    height: 180px;
    border: solid 2px #223f4a;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    padding: 0 10px;
}

.featured-drink {
    height: 350px;
    transform: translate(50px, -100px);
    z-index: 5;
}

.each-drink:hover {
    transform: scale(1.2);
    background-color: white;
}

.brown {
    background-color: #603914;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.coffee {
    background-color: #260000;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.blue {
    background-color: #B3DFE0;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.milk {
    background-color: #FFD7B0;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.foam {
    background-color: #FFEDCA;
    color: #603914;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.chocolate {
    background-color: #3A1E07;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.vanilla {
    background-color: #FFB980;
    color: white;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
}

.whipped {
    background-color: #FFEDCA;
    color: #603914;
    text-transform: uppercase;
    padding: 4px;
}

#user-avatar {
    transition: all .1s; 
}

#user-avatar:hover {
    transform: scale(1.1);
}

.profile-name-link {
    text-decoration: none;
}

#profile:hover {
    color: #f0bb29;
}
