main {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

#order-display {
    display: inline;
    margin: 10% 5%;
}

#cup-display {
    display: inline;
    margin: 10% 12% 10% 5%;
}

#ingredient-container {
    position: relative;
    display: inline;
    right: 0;
    margin: 10% 5%;
}

.ingredient-buttons {
    position: relative;
    right: 0;
    display: block;
    margin: 30% 0;
    width: 100px;
}

.ingredient-buttons:hover {
    background-color: #f0bb29;
    cursor: pointer;
}

#game-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ingredient-nav {
    position: absolute;
    display: flex;
    background-color: #f0bb29;
    fill-opacity: .8;
}