
main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 10%;
}

#title {
    text-align: center;
    margin-top: 50px;
}

#order-display img {
    width: 300px;
    display: inline-block;
}

#order-display h2 {
    position: absolute;
    top: 50%;
    left: 7%;
}

#order-display hr {
    position: absolute;
    width: 12%;
    bottom: 40%;
    left: 7%;
    background-color: black;
    height: 3px;
}

#order-display form {
    position: absolute;
    left: 7%;
    top: 60%;
    text-align: left;
    font-family: Roboto;
    color: #223f4a
}

#cup-display img {
    width: 400px;
}

#cup-display {
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    align-self: center;
}

.ingredient-buttons {
    background-color: #223f4a;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 14px;
    width: 200px;
    margin-bottom: 3px;
}

.ingredient-buttons:hover {
    background-color: #f0bb29;
    cursor: pointer;
}

#ingredient-nav {
    display: flex;
    background-color: #f0bb29;
    fill-opacity: .8;
}

#ingredient-container {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}