#profile-box {
    width: 30%;
    background-color: rgba(230, 226, 226, 0.557);
    padding: 12px;
    border-radius: 8px;
}

#profile-box img {
    width: 20%;
    height: 20%;
    margin: 0 10px;
}

#profile-box-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#current-results {
    width: 40%;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-left: 80px;
}